page-me {
  .login-or-signup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      font-size: 1em;
    }
    img {
      height: 1em;
    }
  }

  hr {
    margin: 0rem 1.5rem;
    color: #c3c3c3;
  }
  span {
    font-family: HelMedium;
  }

  .list-customx {
    margin: 0.1rem;
    display: flex;
    justify-content: space-between;

    img {
      height: 1em;
    }
  }
  .version-code {
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      margin-top: 4em;
      color: #7c7c7c;
      font-size: 1em;
    }
  }
}
